*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    background-color:black;
}
.name{
    position:relative;
    height:45vh;
    width:100%;
    background-color: black;

}
nav{
    display:flex;
    width:83%;
    margin:auto;
    padding:20px 0;
    align-items:center;
    justify-content: space-between;

}
.logo{
    /* width:200px; */
    height:150px;

}

nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover{
    color:red;
}
.kss{
    display:inline-block;
    height:450px;
    
}
.img{
    width:42%;
    height:75%;
    position:absolute;
    bottom:0px;
    right:-130px;
    margin-right: 140px;
   
    
}

.kss h1{
    font-size: 50px;
    color:white;
    margin-bottom: 20px;
    margin-left: 75px;
}

#ksh{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color:rgb(38, 38, 193);
    
    
}
#kash{
    margin-left:215px;
    color:rgb(38, 38, 193);

}
.kss p{
    color:white;
    line-height: 22px;
    font-size: 20px;
    margin-left: 75px;
}
.kss a{
    background-color:white;
    color: black;
    padding:10px 18px;
    font-weight: bold;
    display:inline-block;
    margin-top:30px;
    margin-left: 130px;
    border-radius: 5px;
    text-decoration: none;
}

.photo{
    height:100%;
}
footer{
    color:white;
    margin-left: 80px;
    margin-top: 1px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------*/

#h1{
    text-align: center;
    color:blue;
    font-weight: bold;
    margin-top: 40px;
    
}
#p1{
    text-align: center;
    color:white;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    
    font-size: 25px;
}
#high{
    color: blue;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#home{
    color: white;
    border:5px solid blue; 
    padding:5px;
    border-radius: 5px;
    font-size: larger;
    margin-left: 50px;
    position: absolute;
    bottom: 50px;
    text-decoration: none;
}

.list{
    color: white;
    font-size: 25px;
    margin-left: 40%;
}
.box{
    
    color: white;
    font-size: 25px;
    border:5px solid white;
    display: inline-block;
    height:50px;
    width:600px;
    margin: 30px;

}
.div1{
    height: 500px;
    width: 84%;
    
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-left: 15vh;
    margin-top: 40px;

}


footer {
    background-color: 000;
    padding: 20px 0;
    text-align: center;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

.social-links a:hover {
    color: #4CAF50; /* Change color on hover */
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
}